
streamlit
streamlit-chat
python-dotenv
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.30
faiss-cpu
sentence-transformers==2.2.2
replicate
pypdf
docx2txt
tiktoken
huggingface-hub


